<!-- Contenedor principal del body -->
<main class="grid bg-zinc-900 py-8 px-5 justify-center">

    <div class="flex justify-end mb-4 leading-6 gap-4">
        <a href="/api/countries/edit/"><button class="cursor-pointer rounded-lg w-14 h-14 bg-zinc-800 hover:bg-zinc-700 border border-zinc-700 hover:border-zinc-600 text-[2em] text-center text-stone-300 hover:text-stone-100">⮠
            <p class="text-sm">submit</p></button></a>
        <a href="/api/countries/remove/"><button class="cursor-pointer rounded-lg w-14 h-14 bg-zinc-800 hover:bg-zinc-700 border border-zinc-700 hover:border-zinc-600 text-[2em] text-center text-stone-300 hover:text-stone-100">↶
            <p class="text-sm">volver</p></button></a>
    </div>

    <div class="md:w-180 grid md:grid-cols-2 sm:w-150 sm:grid-cols-2 text-zinc-100 flex flex-wrap justify-center gap-3 items-center py-3 px-[5vw] border border-zinc-700 bg-zinc-800 rounded-lg">
        
        <div class="md:col-span-2 sm:col-span-2 mx-auto pt-7">
            <img
                class="text-center text-[7.2em] leading-20 rounded h-20 w-30 object-cover opacity-80"
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fb%2Fb0%2FNo_flag.svg%2F300px-No_flag.svg.png&f=1&nofb=1&ipt=ef89ccacf4a009c73f10b77473a3418edfdfbd7dbea414633051a000ca061b72"
                title=""
                alt="">
            </img>
        </div>

        <div class="md:col-span-2 sm:col-span-2 mx-auto pb-4">
            <section class="flex">
                <label class="text-zinc-300">Nombre:&nbsp;</label>
                <input class="leading-6 text-xl uppercase"></input>
            </section>    
        </div>

        <section class="flex">
            <label class="text-zinc-300">Capital:&nbsp;</label>
            <input></input>
        </section>

        <section class="flex">
            <label class="text-zinc-300">Continentes:&nbsp;</label>
            <input> .continents</input>
        </section>

            <section class="flex">
                <label class="text-zinc-300">Region:&nbsp;</label>
                <input></input>
            </section>
         
            <section class="flex">
                <label class="text-zinc-300">Sub-Region:&nbsp;</label>
                <input></input>
            </section>
         

        <section class="flex">
            <label class="text-zinc-300">Lat/Long:&nbsp;</label>
            <input></input>
        </section>

            <section class="flex">
                <label class="text-zinc-300">Límites:&nbsp;</label>
                <input></input>
            </section>

        <section class="flex">
            <label class="text-zinc-300">Extensión:&nbsp;</label>
            <input></input>
        </section>

        <section class="flex">
            <label class="text-zinc-300">Población:&nbsp;</label>
            <input></input>
        </section>

        <section class="flex">
            <label class="text-zinc-300">Idiomas:&nbsp;</label>
            <input></input>
        </section>

        <section class="flex">
            <label class="text-zinc-300">Moneda:&nbsp;</label>
            <input></input>
        </section>

        <section class="flex">
            <label class="text-zinc-300">Zona horaria:&nbsp;</label>
            <input></input>
        </section>

    </div>
</main>